.Posts{

}

.postDetails{
    display: flex;
    gap: 15px;
    width: 100%;
    height: 450px;
    background: #DDF7F8;
    flex-wrap: wrap;
}

.insidePosts{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    gap: 15px;
}